.slider { width:612px; height:612px; }

.content { 
	width:100%; 
	margin:0px; 
	padding:0px;
}

.content p {
	text-align:left;
}

.push {
	position: relative;
}

body {
	background-image: url("../images/darkBackground.jpg");
	margin: 0;
    text-align: center;
	width:100%;
	height:100%;
}

#menu {
	height:100%;
	margin-left:-50;
	padding-left:0;
	text-align:center;
	vertical-align:middle;
	position:absolute;
	width:275px;
	background-color: rgba(0, 0, 0, 0.4);
	border-right: 1px dotted grey;
	border-left: 1px dotted grey;
	z-index:1;
	display:table;
}

ul { padding:0;}

div.headerInfo {
	width:100%;
	display:inline;
	position: relative;
	margin:0;
	padding:0;
	clear;
}

h1.headerInfo {
	width:100%;
	text-align: center;
	font-size: 250%;
	color:#E3E38F;
	text-transform: uppercase;
	margin:0 0 20px 0;
	padding:0;
}

p.headerInfo {
	width:100%;
	text-align: center;
	font-size:150%;
	color:#FCFCA9;
	margin:0 0 20px 0;
	padding:0;
	clear;
}

#menu ul li {
	display:block;
	font-size: 300%;
	color:#fefe91;
	text-align:center;
	margin-top:10%;
	margin-bottom:10%;
	margin-left:0;
	padding-left:0;
	height:75px;
	line-height:75px;
	z-index:1;
	width:100%;
}

#menu li:hover {
	cursor: pointer; 
	cursor: hand;
	font-size:325%;
}

.page {
	position:relative;
	width:50%;
	height:500px;
	text-align:center;
	display:hidden;
	float:left;
	padding:0;
	margin:0;
}

.page img{
	position: relative;
	height: 70%;
	width: 70%;
	margin:0;
	text-align:center;
	padding:0px;
}

.page.type {
	
}

#page img:hover {
	cursor: pointer; 
	cursor: hand;
}

#page div.type p {
	width:0px;
	height: 0px;
	display:none;
	margin:0px;
	padding:0px;
}

#page div.type {
	width: 100%;
	height:100%;
	display:inline;
	margin:0px;
	padding:0px;
	float:left;
	overflow:hidden;
}

#page div.type:nth-child(3n) {
    clear:left;
}

.testModal {
	background-image: url("../images/darkBackground.jpg");
}

.modal.img {
	height: 325px;
	width: 400px;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	display:block;
}

.clear {
	clear:both;
}
.animate-show {
  opacity: 1;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 0.4s;
  transition: all linear 0.4s;
}

.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
}

.check-element {
}

