.nav-tabs > li, .nav-pills > li {
    float:none !important;
    display:inline-block !important;
}

.nav {
	border-bottom: 1px solid #432B1F !important;
}

.nav-pills {
    border: 1px solid #432B1F !important;
}

.nav-tabs, .nav-pills {
    text-align:center;
	margin-bottom:0px;
}

.nav-tabs {
	font-size:170% !important;
}

.active a {
	background-color: #fcfbe5 !important;
	color: #064D3D !important;
	border-left: 1px solid #432B1F !important;
	border-right: 1px solid #432B1F !important;
	border-top: 1px solid #432B1F !important;
}

li a {
	cursor: pointer;
	cursor: hand;
	color: #ddb182 !important;	
	font: 20px 'Charcoal';
	font-weight:bold;
}

li a:hover {
	background-color: #fcfbe5 !important;
	border-left: 1px solid #432B1F !important;
	border-right: 1px solid #432B1F !important;
	border-top: 1px solid #432B1F !important;
}

#myslider { 
	margin-left:auto;
	margin-right:auto;
	width:520px;
	height:420px;
}

#myslider img {
	width:500px;
	height:400px;
}

h3 {
	text-align:left;
	font-size: 100%;
}

.middle {
	display: inline-block;
    vertical-align: middle;
}

.row {
	border-bottom: 1px solid #432B1F;
	padding-top: 10px;
	margin-left:10px;
	padding-bottom: 10px;
	min-height: 300px;
}

.tab-pane {
	border-right: 1px solid #432B1F;
	border-left: 1px solid #432B1F;
	background-color: #fcfbe5;
	width:100%;
	min-width:600px;
}

h1 img {
	height: 55px !important;
	width: 55px !important;
	margin-right:15px;
}

img {
	border: 1px solid #000 !important;
}

.box { 
	width:100%; 
	min-width:520px;
	margin:auto;
	background-color: #7c411c;
	border-radius: 5px;
	opacity:.85;
    padding: 10px;
	border: 1px solid #000;
}

body {
	background-image: url("../images/darkBackground.jpg");
	background-attachment: fixed;
	background-size: 100% 100%;
	background-color: #2d1d15 !important;
	margin: 0;
    text-align: center;
	width:100%;
	height:100%;
}

div.headerInfo {
	width:100%;
	display:inline;
	position: relative;
	margin:0;
	padding:0;
	clear;
}

html, body, .container-fluid{
   height:100%;
}

.column {
	display: table-cell;
}

.leftAlign {
	text-align:left;
	white-space: pre-wrap;
}

.clear {
	clear:both;
}

.faded.ng-enter {
  animation: my_enter_animation .6s linear;
  -webkit-animation: my_enter_animation .6s linear;
}

@-webkit-keyframes my_enter_animation {
	from { opacity:0;}
	to {opacity: 1;}
}

@keyframes my_enter_animation {
	from { opacity:0;}
	to {opacity: 1;}
}

.indent {
	text-align:left;
	text-indent:5%;
	line-height:1.2em;
	white-space:pre-wrap;
}

.faded.ng-leave {
  animation: my_fade_animation 0.2s linear;
  -webkit-animation: my_fade_animation 0.2s linear;
}

@keyframes my_fade_animation {
	from { opacity:1;}
	to {opacity: 0;}
}

@-webkit-keyframes my_fade_animation {
	from { opacity:1;}
	to {opacity: 0;}
}

h1,h2,h3 {
	color: #10680a !important;
	margin-top:0px !important;
	padding-top:0px !important;
	-webkit-text-stroke: 1px #083f00; 
}

.topSpace {
	margin-top: 10px;
}

h2 {
	font-size: 225% !important;
	
}

.mainHeader {
	color: #ddb182 !important;
	text-shadow: -1px -1px 1px #000, 1px 1px 2px #000;
	font: 60px 'Charcoal';
	font-weight:750%;
}

p {
	color:#3d1400;
	font-size:125%;
	font-weight:bold;
}