/**************** Navigation ****************/
.nav-tabs > li, .nav-pills > li {
    float:none !important;
    display:inline-block !important;
}

.nav {
	width:96%;
	margin-left:17px;
	padding-right:0px;
	margin-bottom:-1px !important;
	border-bottom: 1px solid #432B1F;
}

.nav-pills {
    border: 1px solid #432B1F !important;
}

.nav-tabs, .nav-pills {
	margin-bottom:0px;
}

.nav-tabs {
	font-size:170% !important;
}

.active a {
	opacity:1 !important;
	background-color: #fcfbe5 !important;
}

li a {
	cursor: pointer;
	cursor: hand;
	opacity:.6;
	font: 15px 'Charcoal';
	font-weight:bold;
	background-color: #ccddce;
	color: #064D3D !important;
	border-left: 1px solid #432B1F !important;
	border-right: 1px solid #432B1F !important;
	border-top: 1px solid #432B1F !important;
}

li a:hover {
	opacity:.8;
	background-color: #fcfbe5 !important;
	border-left: 1px solid #432B1F !important;
	border-right: 1px solid #432B1F !important;
	border-top: 1px solid #432B1F !important;
}

/**************** Nav and Header ****************/
div.headerInfo {
	width:96%;
	margin:0;
	margin-left:auto;
	margin-right:auto;
	border-bottom: 1px solid #432B1F !important;
	padding:0;
	clear;
}

/**************** Header ****************/
.mainHeader {
	color: #fff !important;
	text-shadow: -.5px -.5px 0 #fff, 1.5px 1.5px 1px #000;
	font: 36px 'Charcoal';
	margin-bottom: -2px !important;
	padding-bottom: 0px !important;
	margin-left: auto;
	margin-right: auto;
	width:96%;
	font-weight:bold;
}

.headerImage {
	height: 28px !important;
	width: 28px !important;
	margin-right:8px;
}

/**************** Home Page ****************/
/*image slider*/
#myslider { 
	margin-left:auto;
	margin-right:auto;
	width:520px;
	height:420px;
}

#myslider div {
	opacity:0;
}

#myslider div:nth-child(1) {
	opacity:1;
}

#myslider img {
	width:500px;
	height:400px;
}

.row {
	border-bottom: 1px solid #432B1F;
	padding-top: 10px;
	padding-bottom:10px;
}

/**************** Content ****************/

.tab-pane {
	background-image: url("../images/background2.jpg");
	background-attachment: fixed;
	background-size: 100% 100%;
	border-right: 1px solid #432B1F;
	border-left: 1px solid #432B1F;
	background-color: #fcfbe5;
	width:96%;
	height:100%;
	margin:auto;
	margin-top:0;
	min-width:600px;
}

body {
	background-image: url("../images/background.jpg");
	background-attachment: fixed;
	background-size: 100% 100%;
	background-color: #2d1d15 !important;
	margin: 0;
    text-align: center;
	width:100%;
	height:100%;
}

h1,h2,h3 {
	color: #10680a !important;
	margin-top:0px !important;
	padding-top:0px !important;
	-webkit-text-stroke: 1px #083f00; 
}

h2 {
	font-size: 225% !important;
}

html, body, .container-fluid{
   height:100%;
}

html {
    overflow-y: scroll;
}

.indent {
	text-align:left;
	text-indent:5%;
	line-height:1.2em;
	white-space:pre-wrap;
}

.topSpace {
	margin-top: 10px;
}

p {
	color:#3d1400;
	font-size:100%;
	font-weight:550;
	line-height:85%;
}

.resultsImage {
	max-height:300px !important;
	max-width:400px !important;
	margin:auto;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}


/**************** Animations ****************/
 .faded.ng-enter {
	opacity: 0;
	transition: 150ms ease-out;
}

.faded.ng-enter-stagger {
	transition-delay: 0.07s ;
	-webkit-transition-delay: 0.07s ;
	/*
	FROM THE DOCUMENTATION:
	In case the stagger doesn't work then these two values must be set
	to 0 to avoid an accidental CSS inheritance.
	*/
	transition-duration: 0s ;
	-webkit-transition-duration: 0s ;
}

.faded.ng-enter-active {
	opacity: 1.0 ;
	padding-top:10px;
} 

