<!DOCTYPE HTML>

<html ng-app="newNative">
	<head>
		<meta property="og:type" content="website" />           
		<meta property="og:url" content="http://yohnstoppable.github.io/index3.html" />
		<link rel="stylesheet" type="text/css" href="css/site.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link href="css/lightbox.css" rel="stylesheet" />
		<script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
		<script src="js/angular.min.js"></script>
		<script src="js/angular-animate.min.js"></script>	
		<script src="js/bigSlide.js"></script>
		<script src="js/core.js"></script>
		<script src="js/touch.js"></script>
		<script src="js/transition.js"></script>
		<script src="js/lightbox.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script  type="text/javascript">
			var results;
			function getData(data) {
				if (data.ok) {
					results = data.results;
					console.log(results);
				} else {
					alert(data.error);
				}
			}
			
			function fbShare(url, title, descr, image) {
				$('head').append( '<meta property="og:description"" content="' + descr + "' />");
				$('head').append( '<meta property="og:title" content="' + title + "' />");
				$('head').append( '<meta property="og:image" content="' + image + "' />");
				window.open('http://www.facebook.com/sharer.php?s=100&p[url]=' + url);
			}
			
		</script>
		<script src="js/app.js"></script>
		<script src="https://openapi.etsy.com/v2/shops/NewNative05/listings/active.js?callback=getData&method=GET&api_key=uf4q3mmiizo915vqna2x8n5r&limit=100&includes=MainImage,Images"></script>
	</head>
	<body>
	<section ng-controller="master as masterCtrl">
		<a href="#menu" class="menu-link">&#9776;</a>
			<nav id="menu" class="panel" role="navigation" ng-controller="menuController as menuCtrl">
				<ul ng-repeat="menuItem in menuCtrl.menuItems">
					<li class="home" ng-click ="clicked(menuItem)">{{menuItem}}</li>
				</ul>
			</nav>
		<div class="container">
			<div class="headerInfo"><h1 class="headerInfo">{{title}}</h1></div>
				<div ng-repeat="results in resultsByCategory"" class="row" ng-show="results[0].category_path[0] === section">
					<div class=" {{result.category_path[0]}} thumbnail col-md-6" ng-repeat="result in results">
						<a href="{{result.MainImage.url_570xN}}" data-lightbox="{{result.listing_id}}" data-title="{{result.title}}">
							<img ng-src="{{result.MainImage.url_570xN}}" etsyUrl="{{result.url}}">
						</a>
							<h2>{{result.title}}</h2>
							<h3>{{result.price | currency}}</h3>
							<p class="leftAlign">{{result.description}}</p>
							<p><a onclick="fbShare('http://yohnstoppable.github.io/index3.html', 'result.title', 'result.description')">Share on facebook</a></p>
							<p><a href = "{{result.url}}" class="btn btn-primary" role="button">View Listing</a></p>
						<a ng-repeat="image in result.Images" ng-if="$index > 0" href="{{image.url_570xN}}" data-lightbox="{{result.listing_id}}" data-title="{{result.title}}"></a>
					</div>
				</div>
		</div>
	</section>
	<script>
	$( document ).ready(function() {
        $('.menu-link').bigSlide();
	});
		
	</script>
	</body>
</HTML>
	